/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/08/2015, 12:45:14
    Author     : Jonathan
*/

body{
 background: #f5e79e;  
}

#Botao1{
   margin-top: 15px;
   margin-left: 90px;
 
}

#Botao2{
   margin-left: 165px;
   margin-top: -21px;
}

#Menu{     
   margin-left:200px;
   width: 50%;
   height: 200px;
}

#Menu2{       
    margin-left: 300px;
    width: 50%;
    height: 200px;
    
}

#Formulario{
    background:ghostwhite; 
    border: solid thick gray;
    border-radius: 1em;
    box-shadow: black 0.5em 0.5em 0.3em;
}

#Out1{
    padding:10px 10px 10px 10px;
    margin-left:40px;
           
}

#Out2{
    margin-top:-25px;
    padding:10px 10px 10px 50px;
   }